body
{
    background-image: url("../IMG/bg.jpg");
}
.top
{
    margin: 0 auto; 
    padding: 0 1 em;
}
.column {
    display: flex;
    flex-direction: column;
}

.menu-section{
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid hsl(10, 10%, 10%);
    border: none !important;
}
.menu-simple-menu ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: rgba(250, 25, 175, 0.6);
}
.menu-simple-menu ul li a
{
    text-decoration: none;
    color: #fff;
    padding: .6em 1em;
    display: block;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
}
.menu-simple-menu ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.menu-simple-menu ul li a:hover
{
    color: rgb(163, 37, 152);
}
.menu-simple-menu ul li a:active
{
    color: rgba(61, 238, 229, 0.808);
}
.titulo1
{
    margin: 0 0 1em;
    padding: 1em 0;
    font-weight: 300;
    color: ivory;
}
.tarjeta a
{
    color: ivory;
    text-decoration: none;
}
.tarjeta a:hover
{
    box-shadow: 3px 3px 8px hsl(0,0%,70%);
}
.tarjeta-contenido
{
    padding: 1.4em;
}
.tarjeta-contenido h2
{
    margin-top: 0;
    margin-bottom: .5;
    font-weight: normal;
}
.tarjeta-contenido p{
    font-size: 95%;
    color: white;
}
figure{
    margin: 0;
}
img
{
    width: 100%;
    height: auto;
    display: block;
    border:0;
}
/*flexbox*/
.tarjeta
{
    background: rgb(0, 0, 0);
    margin-bottom: 2em;
    width: 33%;
}
.cards
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.coloreado
{
    background-color: rgba(3, 4, 51, 0.6) !important;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    float: left;
    box-sizing: border-box;
}
.complementario
{
    background-color: rgba(3, 4, 51, 0.6) !important;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    float: right;
    
}
i
{
    color: rgba(250, 25, 175, 0.6);
}
.tarjeta-contenido h2
{
    color: white;
}
#btn-submit
{
    color: rgb(255, 255, 255);
    background-color: rgba(23, 58, 65, 0.3);
    border-radius: 15px;
    border-color: none;
    border-style: none;
    font-size: 20px;
    box-sizing: border-box;
    padding: 5px;
}
@keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  /* ...and then apply it: */
  .box {
    animation: slide-in 1000ms;
    
  }

  .text_inicio
  {
    border: 1px black dashed;
    background-color: white;
    font-family: 'Permanent Marker';
    padding-left: 0.4rem;
    font-size: 2.1rem;
    display: inline-block;
    padding-right: 0.4rem;
  }
  #imagen-princ
  {
    content: "";
    width: 600px;
    height: 900px;
    margin: auto;
    background-image: url("../IMG/cover.png");
    background-size: cover !important;
    animation-name: fade-in;
    animation-duration: 4s;
    display: block;
    
  }
  @keyframes fade-in
  {
      from{opacity: 0;}
      to{opacity: 1;}
  }
  #Presentacion
  {
    width: 100%;
    display: inline-block;
    height: 150px;
    background-color: violet;
    border: 3px white dashed;
    animation-name: fade-in;
    animation-duration: 4s;
  }
  #seccion1
  {
      width: 50%;
  }
  #present-text
  {
    margin: 40px;
    font-size: 20px;
  }
  #container
  {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
#video-extra
{
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: 50px;
}

@media all and (min-width:350px) and (max-width:1183px){
#seccion1
{
    width: 80%;
    margin-left: 20px;
}
}

